.container{
    border: 1px solid burlywood;
    background-color: indianred;
    height: 600px;
    width:400px;

    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;

    grid-gap:10px;
   /* justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content:space-around;*/
   /* align-items: end;
    place-content:center;*/
    place-items:center;
}
.box{
    border:1px solid chartreuse;
    background-color: darkgoldenrod;
}